[submodule "direct_lidar_odometry"]
	path = direct_lidar_odometry
	url = https://github.com/Cardinal-Space-Mining/direct_lidar_odometry
[submodule "FAST_LIO"]
	path = FAST_LIO
	url = https://github.com/S1ink/FAST_LIO
